/* HEADER */

.main-header {
    padding: 4rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between;

    &-title {
        h4 {
            @include big-font;
        }

        @media only screen and (max-width: $medium-screen) {
            text-align: center;
        }
    }

    &-options {
        width: 43%;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $transition-screen) {
            width: 50%;
        }

        @media only screen and (max-width: $medium-screen) {
            flex-direction: column;
            width: 100%;

            a {
                margin-top: 0.8rem;
            }
        }
    }

    @media only screen and (max-width: $medium-screen) {
        padding: 2rem 1rem 0 1rem;
        flex-direction: column;
    }
}