@import 'config';
@import 'reset';

.App {
    background-color: $background-color;
    height: 100vh;
}

/* LINKS */

a {
    text-decoration: none;
}

/* BUTTONS */

.standard-button {
    padding: 0.5rem 0.6rem;
    background-color: $standard-button-color;
    border: none;
    cursor: pointer;

    i {
        color: $sec-button-color;
        margin-right: 0.5rem;
    }
}

.active-button {
    padding: 0.5rem 0.6rem;
    background-color: $sec-button-color;
    border: none;
    cursor: pointer;

    i {
        color: $standard-button-color;
        margin-right: 0.5rem;
    }
}

.nav-button {
    @include main-font;
    @extend .standard-button;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;

    &:hover {
        @include box-shadow-h;
    }
}

.nav-button-active {
    @include main-font-inverted;
    @extend .active-button;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.home-button {
    @include sec-font;
    @extend .standard-button;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover {
        @include border-left-h;
    }
}

/* HEADER */

.main-header {
    padding: 4rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between;

    &-title {
        h4 {
            @include big-font;
        }
    }

    &-options {
        display: flex;
        justify-content: flex-end;
        float: right;
    }
}

/* HOME SECTION */

.home-section {
    margin-top: 10rem;
    padding: 0 3rem 0 3rem;
    display: flex;
    justify-content: space-between;

    &-image{
        img {
            max-width: 100%;
            height: 100%;
        }
    }

    &-links{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-left: 1rem;
        width: 70%;

        a {
            width: 100%;
            
            button .fa-github{
                margin-right: 0.6rem;
            }

            button .fa-linkedin{
                margin-right: 0.8rem;
            }

            button .fa-twitter{
                margin-right: 0.5rem;
            }

            button .fa-deviantart{
                margin-right: 1.4rem;
            }
        }
    }
}