@import 'config';
@import 'reset';
@import 'buttons';
@import 'header';
@import 'home';
@import 'gallery';
@import 'projects';

/* GENERAL */

.App {
    background-color: $background-color;
    min-height: 100vh;
}

/* LINKS */

a {
    text-decoration: none;
}

/* SECTIONS */

section {
    margin-top: 15vh;
    padding: 0 3rem 0 3rem;
}