/* VARIABLES */

$background-color: #5cdacf;
$main-color: #fff;
$standard-button-color: #fff;
$sec-button-color: #ec5353;
$sec-color: #ec5353;
$text-color: #494949;
$decal-color: #ebebeb;
$alternative-color: #e7e7e7;
$alternative-text-color: #404040;

$transition-screen: 1272px;
$medium-screen: 1134px;

/* FONTS */

@mixin big-font{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.8rem;
    color: $main-color;

  @media only screen and (max-width: $medium-screen) {
    font-size: 1.6rem;
  }
}

@mixin main-font {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.0rem;
    color: $sec-color;
}

@mixin main-font-inverted {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.0rem;
    color: $main-color;
}

@mixin sec-font {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
    color: $sec-color;

    @media only screen and (max-width: $medium-screen) {
      font-size: 0.9rem;
    }
}

/* ANIMATION */

@mixin box-shadow-h {
    box-shadow: 0.2rem 0.3rem $sec-color;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin border-left-h {
    border-left: $sec-color 0.5rem solid;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@mixin color-change-sec {
    background-color: $sec-color;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@mixin loader-keyframes{
    @keyframes loader {
        0% {
          transform: rotate(0deg);
        }
        
        25% {
          transform: rotate(180deg);
        }
        
        50% {
          transform: rotate(180deg);
        }
        
        75% {
          transform: rotate(360deg);
        }
        
        100% {
          transform: rotate(360deg);
        }
    }
      
      @keyframes loader-inner {
        0% {
          height: 0%;
        }
        
        25% {
          height: 0%;
        }
        
        50% {
          height: 100%;
        }
        
        75% {
          height: 100%;
        }
        
        100% {
          height: 0%;
        }
    }
}