/* BUTTONS */

.button-hover-left {
    @extend .container,.width-full;
    @extend .flex,.flex.vertical-align-center;
    @include sec-font;
    cursor: pointer;
}

.button-hover-left:hover {
    @include border-left-h;
}

/* SECTION */

section.pad {
    padding: 0 3rem 0 3rem;

    @media only screen and (max-width: $medium-screen) {
        padding: 0 1rem 2rem 1rem;
    }
}

section.pushdown {
    padding-bottom: 4rem;
}

/* FLEX */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.vertical-align-center {
    align-items: center;
}

.flex.left-align {
    justify-content: start;
}

.flex.between-align {
    justify-content: space-between;
}

.flex-1 {
    flex: 1 49%;
}

.flex-2 {
    flex: 2 60%;
}

/* POSITIONING */

.space-top-small {
    margin-top: 0.5rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 0.8rem;
    }
}

.space-top-med {
    margin-top: 1rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 1.2rem;
    }
}

.space-top-big {
    margin-top: 1.5rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 1.8rem;
    }
}

.space-left-small {
    margin-left: 0.5rem;
}

.space-left-med {
    margin-left: 1rem;
}

.space-left-big {
    margin-left: 1.5rem;
}

.space-top-section-small {
    margin-top: 2vh;
}

.space-top-section-med {
    margin-top: 7vh;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 5vh;
    }
}

.space-top-section-big {
    margin-top: 10vh;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 5vh;
    }
}

.space-top-section-huge {
    margin-top: 20vh;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 10vh;
    }
}

/* BORDERS */

.no-border {
    border: none;
    border-radius: none;
}

.u-border {
    border: $decal-color solid 2px;
    border-radius: 3px;
}

.left-solid-border {
    padding-left: 0.3rem;
    border-left: $sec-button-color 0.5rem solid;
}

.left-solid-border-l {
    padding-left: 0.3rem;
    border-left: $sec-button-color 0.3rem solid;
}

.right-solid-border-l {
    padding-right: 0.3rem;
    border-right: $sec-button-color 0.3rem solid;
}

.u-bottom-solid-border-l{
    padding-bottom: 0.3rem;
    border-bottom: 2px solid#ebebeb;
}

/* ICONS */

i {
    margin-right: 0.5rem;
}

.fa-github {
    margin-right: .6rem;
}

.fa-linkedin {
    margin-right: .8rem;
}

.fa-twitter {
    margin-right: .5rem;
}

.fa-deviantart {
    margin-right: 1.4rem;
}

/*primary*/
.p-icon{
    color: $sec-color;
}
/*secondary*/
.s-icon{
    color: $sec-button-color;
}
/*unimportant*/
.u-icon{
    color: $text-color;
}

/* IMAGES */

img.profile {
    max-width: 100%;
    height: 100%;

    @media only screen and (max-width: $transition-screen) {
        width: 100%;
    }
}

img.box-image{
    display: block;
    max-height: 12rem;
    width: auto;
    height: auto;
    padding: 0.3rem;
    background-color: $main-color;
    cursor: zoom-in;

    &:hover{
        @include color-change-sec;
    }
}

/* RESPONSIVE */

.flex.responsive-column {
    @media only screen and (max-width: $medium-screen) {
        flex-direction: column;
    }
}

.responsive-column .space-left-small,
.responsive-column .space-left-med,
.responsive-column .space-left-big {
    @media only screen and (max-width: $medium-screen) {
        margin: 0;
    } 
}

.responsive-column .button-hover-left {
    @media only screen and (max-width: $medium-screen) {
        margin-top: 0.5rem;
    }
}