/* GENERICS */

/* containers */

.container {
    padding: 0.5rem 0.6rem;
    background-color: $main-color;
    border: none;

    @media only screen and (max-width: $medium-screen) {
        width: 100%;
    }
}

.container-no-bg {
    @extend .container;
    padding: 0;
    background-color: transparent;
}

.inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
}

.inline .container,.inline .container-no-bg{
    width: 98%;

    @media only screen and (max-width: $medium-screen) {
        width: 96%;
    }
}

.section-title {
    @include sec-font;
    @extend .container;
    margin-bottom: 0.5rem;
    cursor: auto;
}

.width-full{
    width: 100%;
}

.add-pad{
    padding: 0.3rem;
}

/* SECTION */

section.pad {
    padding: 0 3rem 0 3rem;

    @media only screen and (max-width: $medium-screen) {
        padding: 0 1rem 2rem 1rem;
    }
}

section.pushdown {
    padding-bottom: 4rem;
}

/* FLEX */

.flex{
    display: flex;
}

.flex.vertical-align-center{
    align-items: center;
}

.flex.left-align {
    justify-content: start;
}

.flex.between-align {
    justify-content: space-between;
}

/* POSITIONING */

.space-top-small {
    margin-top: 0.5rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 0.8rem;
    }
}

.space-top-med {
    margin-top: 1rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 1.2rem;
    }
}

.space-top-big {
    margin-top: 1.5rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 1.8rem;
    }
}

.space-top-section-small {
    margin-top: 2vh;
}

.space-top-section-med {
    margin-top: 7vh;
}

.space-top-section-big {
    margin-top: 10vh;
}

/* BORDERS */

.no-border {
    border: none;
    border-radius: none;
}

.u-border {
    border: $decal-color solid 2px;
    border-radius: 3px;
}

.left-solid-border {
    padding-left: 0.3rem;
    border-left: $sec-button-color 0.5rem solid;
}

.left-solid-border-l {
    padding-left: 0.3rem;
    border-left: $sec-button-color 0.3rem solid;
}

.right-solid-border-l {
    padding-right: 0.3rem;
    border-right: $sec-button-color 0.3rem solid;
}

.u-bottom-solid-border-l{
    padding-bottom: 0.3rem;
    border-bottom: 2px solid#ebebeb;
}

/* ICONS */

i {
    margin-right: 0.5rem;
}

/*primary*/
.p-icon{
    color: $sec-color;
}
/*secondary*/
.s-icon{
    color: $sec-button-color;
}
/*unimportant*/
.u-icon{
    color: $text-color;
}