/* PROJECTS SECTION */

.projects-section{
    &-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-box{
        @include main-font;
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-bottom: 2rem;

        &-top{
            position: relative;
            right: 0.5rem;
            top: 2rem;
            box-shadow: $background-color 3px 5px;
            width: 98%;
            padding: 0.5rem 0.8rem;
            background-color: $main-color;
            border-left: $sec-button-color 0.5rem solid;

            .title-box{
                padding-bottom: 0.2rem;
            }

            a {
                color: $sec-color;
                text-decoration: underline;
            }

            p {
                margin-top: 0.8rem;
                color: $text-color;
            }
        }

        .details-box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3rem 0.8rem 0.5rem 0.8rem;
            background-color: $main-color;
            height: 100%;

            .desc-link-group{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                p{
                    color: $text-color;
                }

                .link-group{
                    margin-top: 1.2rem;
    
                    .repo-clone-group {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 0.5rem;

                        div {
                            width: 80%;
                        }
                    }

                    i {
                        margin-right: 0.5rem;
                    }
    
                    input {
                        @include small-font;
                        border: none;
                        width: 80%;
                        border-left: $sec-color 0.3rem solid;
                        padding: 0.2rem;
                    }

                    .deployed-at {
                        margin-top: 0.5rem;

                        a {
                            @include small-font;
                            border-left: $sec-color 0.3rem solid;
                            padding-left: 0.2rem;
                            text-decoration: underline;
                        }
                    }
    
                    @media only screen and (max-width: $medium-screen) {
                        div {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .programming-language{
                margin-top: 1.2rem;
            }
        }
        
        &-bottom{
            background-color: $main-color;
            display: flex;
            margin-top: 0.5rem;
            justify-content: space-between;
            border: $decal-color solid 2px;
            border-radius: 3px;

            .info-box a{
                color: $text-color;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0.5rem;
                text-decoration: none;
    
                i {
                    margin-right: 0.5rem;
                }
            }
        }

        @media only screen and (max-width: $medium-screen) {
            width: 100%;
        }
    }
}