@import 'config';
@import 'reset';
@import 'buttons';
@import 'header';
@import 'home';
@import 'gallery';
@import 'projects';
@import 'skills';
@import 'resume';
@import 'generics';

/* GENERAL */

body {
    background-color: $background-color;
    min-height: 100vh;
}

.loader-container{
    display: flex;
    justify-content: center;

    .loader {
        @include loader-keyframes;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 4px solid $main-color;
        margin-top: 5rem;
        animation: loader 2s infinite ease;
    
        &-inner{
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: $sec-color;
            animation: loader-inner 2s infinite ease-in;
        }
    }
}


/* LINKS */

a {
    text-decoration: none;
}

/* SECTIONS */

section {
    margin-top: 10vh;
    padding: 0 3rem 0 3rem;

    @media only screen and (max-width: $medium-screen) {
        margin-top: 10vh;
        padding: 0 1rem 2rem 1rem;
    }
}

.page-error {
    @extend .standard-button;
    @include main-font;
    display: flex;
    cursor: auto;
}